.DivPrincipal {
  height: 100vh;
  padding-top: 62px;
  color: black;
}

.container-principal{
  height: 100%;
}

.dropdown-menu, .mouserPointer {
  cursor: pointer;
}

.iconPrincipal {
  color: white;
}