.content-formulario {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-formulario #body .input-field {
  margin-bottom: 0.5px;
}

.content-formulario .direcao-row {
  display: flex;
  justify-content: space-between;
}

.content-formulario .direcao-row .input-field {
  width: 48%;
}

.content-formulario .div-formulario {
  color: black;
  width: 550px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 3%;
  padding: 10px 25px 0px 25px;
  border: 3px solid aliceblue;
}

.content-formulario #header, .content-formulario #footer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-formulario #header, .content-formulario #footer {
  margin-bottom: 20px;
}

.content-formulario #footer button {
  margin: 0 5px 0 5px;
}

.form-group {
  text-align: left;
}

@media (max-width: 550px) {
  .content-formulario {
    padding-top: 0%;
  }
  .content-formulario .div-formulario {
    width: 100%;
    margin: 30px 20px 30px 20px;
  }
}