#content-login #title h4 {
  font-weight: 900;
}

#content-login #div-login #header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#content-login #footer button {
  margin: 0 5px 0 5px;
}

#content-login #div-login {
  background-color: rgba(10, 23, 55, 0.5);
  border-radius: 5%;
  color: aliceblue;
  text-align: center;
  padding: 25px;
  width: 450px;
  margin-bottom: 150px;
  border: 3px solid aliceblue;
}

#content-login #div-login div {
  margin: 10px 0px 10px 0px;
}

#content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

@media (max-width:550px) {
  #content-login #div-login {
    width: 100%;
    margin: 30px 20px 30px 20px;
  }
}