#content-nova-publicacao {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

#content-nova-publicacao #body .input-field {
  margin-bottom: 0.5px;
}

#content-nova-publicacao .direcao-row {
  display: flex;
  justify-content: space-between;
}

#content-nova-publicacao .direcao-row .input-field {
  width: 48%;
}

#content-nova-publicacao #div-nova-publicacao {
  width: 550px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(10, 23, 55, 0.5);
  border-radius: 3%;
  padding: 0px 25px 0px 25px;
  border: 3px solid aliceblue;
}

#content-nova-publicacao #header, #content-nova-publicacao #footer {
  margin-bottom: 20px;
  margin-top: 20px;
}

#content-nova-publicacao #header, #content-nova-publicacao #footer {
  margin-bottom: 20px;
}

#content-nova-publicacao #footer button {
  margin: 0 5px 0 5px;
}

.form-group {
  text-align: left;
}

@media (max-width: 550px) {
  #content-nova-publicacao {
    padding-top: 0%;
  }
  #content-nova-publicacao #div-nova-publicacao {
    width: 100%;
    margin: 30px 20px 30px 20px;
  }
}