.card {
  padding: 3px;
  margin-bottom: 10px;
}

.formPesquisa {
  background-color: slateblue;
  padding-top: 15px;
  margin-bottom: 15px;
}

.containerPublicacoes .row {
  margin: 0;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card-body {
  padding: 10px;
  color: black;
}

.pequisar {
  width: 70%;
}